/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/Fern.background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  

}




.center {
    width: 40%;
	min-width: 300px; /* this is for responsiveness */
	padding: 2%;
    margin: 100px auto;
 	background: rgba(90, 140, 68, 0.55); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 3px double white;

	
}

   
#logo {
	width: 20%;
	min-width: 200px; /* for responsiveness */
	padding: 3%;
    margin-bottom: 16px;
	margin-top: 60px;
	border: 6px double rgb(255, 254, 254); /* for extra design */
	/* border-top: 6px double rgb(223, 223, 223); */ /* for extra design */ 
	/* border: 3px dashed red; */
	text-align: center;
	background: rgba(90, 140, 68, 0.55) /* to make logo visiblity clearer */
	
	
}


h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "mixta-didone", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: "mixta-didone-alt", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "mixta-didone-alt", serif;
	font-weight: 475;
	font-style: normal;
	font-size: 1.8em;
    line-height: 1.6;
    color: #fff;
	margin-bottom: 10px;
}
nav{
	offset-position: fixed;
	font-family: "mixta-didone", serif;
	font-size: 1.5em;
	width: 30%;
	min-width: 100px;
	margin: 2px auto;
	border: double white;
	border-width: 3px 0;
	text-align: center;
	margin-top: .30em;
	position: fixed;
	top: 0;
	right: 0;
	border: 3px double white;
}

nav li{
	display: inline-block;
	padding: 5px;
}

nav a{
	display: inline;
	padding: 5px;
	
}

a{
	color: #faf8f8;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: black;
	background: lightblue;
	
}



h3 { /* extra information and stuff to add to site*/
	font-family: "mixta-didone-alt", serif;
	font-weight: 520;
	font-style: normal;
	font-size: 1.3em;
	line-height: 1.4;
	color: #fff;
	padding: 10px 0px;
	margin: 8px auto 8px auto;

}

p {

	font-family: "mixta-didone-alt", serif;
	font-weight: 400;
	font-style: normal;
	font-size: .90em;
    line-height: 1.5;
	margin: 5px;
    color: #fff;
	
}
